.main-nav {
    height: 70px;
    color: #FFF;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 40px;
    margin: 0px;
}

.nav-logo-text {
    width: 30%;
    color: #FFF;
}

.menu-container {
   width: 55%;
   display: flex;
   flex: 1;
   justify-content: center;
   flex-wrap: nowrap;
}

.main-menu {
    max-width: 300px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: flex-end;

    // li:nth-child(2) {
    //     margin-left: 85px;
    //     margin-right: 85px;
    // }
}

.nav-link {
    font-size: 18px;
    font-style: normal;
    color: rgba(255, 255, 255, 0.5);
    &.active {
        font-weight: bold;
        color: #FFF;
    }

    &:hover {
        color: #FFF;
    }
}

.nav-login {
    text-align: right;
    text-transform: uppercase;
}

// mobile breakpoints

@media (max-width: 768px) {
    .nav-login {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 576px ){
    
}

